html {
    height: 100%;
    width: 100%;
}
header {
background-color: rgb(235, 221, 161);
display: flex;
justify-content: space-between;
}
.header-about-me {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
img {
    margin: 15px;
}
.my-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid yellow;
}
p {
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color:darkgreen;
    margin-top: 40px;
}
.about-me {
    background-color: rgb(43, 154, 206);
}
.my-family {
    background-color: rgb(42, 110, 165);
}
.my-town {
    background-color: rgb(235, 221, 161);
}
.about-me-title {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color:darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}
.about-me-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px dotted darkgreen;
  margin-left: auto ;
  margin-right: auto;
  display: block;
}
.my-family-title {
    color: yellowgreen;
}
.my-mum-title {
    color: coral;
}
.my-dad-title {
    color: purple;
}
.my-town-title{
    color: darkcyan;
    text-align: center;
    font-size: 40px;
}
.my-mum-img {
    width: 400px;
    height: 400px;
}
h1,h2,h3,p {
    margin: 0;
    padding: 15px;
}
body{
    margin: 0;
}
.my-family-title{
    text-align: center;
}
.my-mum-title{
    text-align: center;
}
.my-dad-title{
    text-align: center;
}
.my-family-wrapper{
    display: flex;
}
footer{
    text-align: center;
    background-color: rgb(98, 226, 43);
}
.my-town{
    text-align: center;
}
h3 {
    font-size: 40px;
    color:teal
}